{% extends "layout.html" %}

{% block head %}
    <title>Trail Details Page</title>
{% endblock %}

{% block body %}

    <div class="main-content-container">
        <h1>Trail Details Page</h1>
        
        <% for i in tableDict["trails"] %>
            
        
        <div class="row details-page-content">
            <div class="col-xs-12 mb-2">
                <div class="title" class="position-relative">
                    <h1 id="trail title" class>
                        {{ i["name"] }}
                        
    </div>

{% endblock %}
