{% extends "layout.html" %}

{% block head %}
    <title>Trail Details Page</title>
{% endblock %}

{% block body %}

    <div class="main-content-container">
        <h1>Trail Details Page</h1>
        <div class="row details-page-content">
            <div class="col-xs-12 mb-2">
                <div class="title" class="position-relative">
                    <h1 id="trail title" class>
                        "Trail Name here"
                        #{{ trail.name }}
                    </h1>
                </div>
                <div class="stats">
                    <h3 class="inline mr-2">
                        "Description: "
                        <span class="font-body pl-half">Description here</span>
                    </h3>
                    <h3 class="mr-2 inline">
                        "Altitude Change: "
                        <span class="font-body pl-half">Height here</span>
                    </h3>
                </div>
            </div>
        </div>                
    </div>

{% endblock %}
