{% extends "layout.html" %}

{% block head %}
    <title>Trail List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/trail_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/popup.css') }}"> 
{% endblock %}

{% block body %}

<div>
    <h3>Enter a new location to update list.</h3>
    <form method="post">
        <label for="input">Zip code or address: </label>
        <input type="text" id="input" name="input"><br>
        <label for="radius">Within how many miles: </label>
        <input type="number" id="radius" name="radius"><br>
        <input type="submit" value="Submit">
    </form>
</div>

<button class="btn-open" onclick="openForm()">Filter Trails Just For You</button>
<div class="popup-form" id="myForm">
        <span>Just For You!</span>
        <label class="myToggle">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <form action="" method="get" class="form-container">
            <label>How do you want to feel during your hike?</label>
            <select id="userInput">
                <option value="Chill & Easy">Chill & Easy</option>
                <option value="Match my Fitness Level">Match my Fitness Level</option>
                <option value="Challenge Me!">Challenge Me!</option>
            </select><br>
            <button type="submit" class="btn-submit">Submit</button><br>
            <button type="button" class="btn-cancel" onclick="closeForm()">Close</button><br>
        </form>
</div>
<!-- POPUP 
<div class="popup" onclick="myFunction()">Filter Trails Just For You!
    <div class="popuptext">
        <form action="">
            <p id="myPopup">How do you want to feel on your hike?</p>
            <datalist id="userInput">
                <option value="Chill & Easy">
                <option value="Match my Fitness Level">
                <option value="Challenge Me!">
            </datalist>
        </form>
        
        <div class="dropdown-content">
            <p>1</p>
            <p>2</p>
            <p>3</p>
        </div>
    </div>
</div> -->
<!--
<button class="open-button" onclick="openForm()">Filter Trails Just For You!</button>

<div class="form-popup" id="myForm">
    <form class="form-container">
        <h1>Intro</h1>

        <label for="text"><b>How Do You Want To Feel On Your Hike?</b></label>
        <input type="text" required>

        <button type="submit" class="btn">Submit</button>
        <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
-->
        
    </form>
</div>

    <h1>List of Trails {{ radius }} Miles from Location (Sorted Near to Far)</h1>

    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th>Name</th><th>Summary</th><th>Length (mi)</th><th>Additional Details</th><th>View Trailhead</th><th>Find Equipment Recommendations</th>
            </tr>
        </thead>
        
    {% for i in tableDict["trails"] %}
    <tbody>
        <tr>
            <td> {{ i["name"] }} </td>
            <td> {{ i["summary"] }} </td>
            <td> {{ i["length"] }} </td>
            <td><input type="button" value="Details Page"></td>
            <td><input type="button" value="Navigate to Trailhead"></td>
            <td><input type="button" value="Gear Recommendation" name="trailID" onclick="window.location='/recs/{{i.id}}';"></td>
            <!-- button to redirect to /recs/trailID and it works!! -->
        </tr>
    </tbody>
    {% endfor %}    

    </table>

    <script src="{{url_for('static', filename='/scripts/trails_script.js')}}"></script>

    <!-- will move to trails_script.js -->
    <script>
    // When the user clicks on div, open the popup
    function openForm(){
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm(){
        document.getElementById("myForm").style.display = "none";
    }
    </script>
    <!-- <script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
    </script>-->

{% endblock %}
</div>
    